<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:fullBackupContent,android:allowBackup,android:dataExtractionRules">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false"  />
    </application>

</manifest>
