name: Android CI

on:
  push:
    branches:
    - master
    - bugfix/*
    - feature/*
  pull_request_target:
    branches: [ master ]



jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'adopt'
    - name: Make Gradle executable
      run: chmod +x ./gradlew

    - name: Create google-service.json file
      run: cat /home/runner/work/android-app/android-app/app/src/debug/google-services.json | base64
    - name: Set google-service.json data
      env:
        DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: echo $DATA > /home/runner/work/android-app/android-app/app/src/debug/google-services.json

    - name: Clean Gradle cache
      run: |
        rm -rf ~/.gradle/caches/
        rm -rf .gradle/
        
    - name: Build
      run: ./gradlew clean assembleDebug --no-configuration-cache --refresh-dependencies --stacktrace

    - name: Run tests
      run: ./gradlew testGooglePlayDebugUnitTest --no-configuration-cache