name: Android CI

on:
  push:
    branches:
    - master
    - bugfix/*
    - feature/*
  pull_request_target:
    branches: [ master ]



jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'adopt'
    - name: Make Gradle executable
      run: chmod +x ./gradlew

    - name: Set mapbox token
      env:
        MAPBOX_DOWNLOADS_TOKEN: ${{ secrets.MAPBOX_DOWNLOADS_TOKEN }}
      shell: bash
      run: echo MAPBOX_DOWNLOADS_TOKEN=${MAPBOX_DOWNLOADS_TOKEN} >> gradle.properties

    - name: Set sentry token
      env:
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      shell: bash
      run: echo SENTRY_DSN=${SENTRY_DSN} >> gradle.properties

    - name: Create google-service.json file
      run: cat /home/runner/work/android-app/android-app/app/src/debug/google-services.json | base64
    - name: Set google-service.json data
      env:
        DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: echo $DATA > /home/runner/work/android-app/android-app/app/src/debug/google-services.json

    - name: Build
      run: ./gradlew clean assembleDebug --stacktrace
